.productCard {
    width: 250px;
    min-height: 270px;
    background-color: lightgrey;
    border-radius: 4px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.productCard h2 {}


.productCard__imgContainer {
    height: 10em;
    width: 80%;
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.productCard__btnContainer {}

.productCard__btnContainer button {
    margin: 1.2em auto;
    padding: 0.1em 1em;
    background-color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
    cursor: pointer;
}

.productCard__btnContainer span {
    margin: 0 1rem;
    font-weight: bold;
}

.productCard__addCart {
    margin-bottom: 2em;
}

.productCard__addCart button {
    padding: 0.5em 1.5em;
    background-color: white;
    font-weight: bold;
    border-style: none;
    border-radius: 4px;
}